* {
    --background: white;
    --text: black;
    --disabled-text: gray;
}

@media (prefers-color-scheme:dark) {
    * {
        --background: black;
        --text: white;
        --disabled-text: rgba(211, 211, 211, 0.5);
    }
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.section {
    border: 1px solid var(--text);
    padding: 0.5em;
    margin: 0.5em auto;
    width: 45%;
}

h2 {
    margin-top: 0;
}

.row{
    display: block;
}

button {
    font-size: 1.5em;
    clear: both;
}

select:disabled, button:disabled {
    color: var(--disabled-text);
}
